<h1> You Promised </h1>
<h3> an app to remind you what you were promised </h3>

<h2> All Promises </h2>
<%@promises.each do |promise|%>
  <h4>Promise: <%= promise.description %></h4>
  <p>Promise Giver: <%= promise.giver %><p>
  <p>Status of this Promise: <%= promise.status %><p>
<% end %>
